<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hwardak.shiftlog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shift_log_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shift_log_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShiftLogMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShiftFormActivity" />
        <activity android:name=".EmployeeOptionsActivity" />
        <activity android:name=".ShiftLogRecord"></activity>
    </application>

</manifest>